{% extends 'layout.html' %}
{% block content %}


<div class="text-center mt-5 pt-3">
  <img src="static\IMG\logo.png" class="rounded" alt="...">
</div>


<div class="container">
  <div class="d-grid gap-1 col-9 mx-auto mt-2 ">
          <input class="form-control form-control-lg mx-auto " type="text" placeholder="نام کالا را وارد کنید " aria-label="example">
        <label for="inputPassword5" class="form-label mx-auto mt-3 text-secondary">انتخاب هوشمندانه و به صرفه در سطح شهر </label>
        </div>
        

        </div>


{% endblock content %}


